body {
	min-width: 768px;

	text-transform: uppercase;

	color: #000000;
	background-color: #f2f2f2;

	font-family: "PT Sans", Arial, sans-serif;

	font-size: 14px;
	line-height: 21px;
}


@font-face {
  font-family: "symbols-sedona";

  font-weight: normal;
  font-style: normal;

  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;

  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  text-align: center;
  text-decoration: inherit;
  text-transform: none;

  font-family: "symbols-sedona";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1em;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


.clearfix::after {
	display: table;
	clear: both;

	content: "";
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	min-width: 768px;

	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	background-color: #fff;
	box-shadow: 0 10px 8px grey;
}

h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
}

.inner-container {
	padding-right: 6%;

	padding-left: 6%;
}

.main-navigation {
	box-sizing: border-box;
	height: 56px;
	padding-top: 0px;
}

.main-navigation ul {
	position: relative;

	margin: 0;
	padding: 0;

	font-size: 0;
}

.roof {
	position: absolute;
	left: 43.42%;

	width: 138px;
}

.roof img {
	width: 138px;
	height: 70px;
}



.main-navigation li {
	display: inline-block;

	width: 24%;

	list-style: none;

	color: #000000;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #b2b2b2;
}

.nav-left, .nav-right {
	padding-top: 15px;
}

.nav-link {
	color: #000;
}

.nav-left {
	text-align: left;
	vertical-align: middle;
}

.nav-right {
	text-align: right;
	vertical-align: middle;
}

.nav-media {
	margin-left: -12px;
}

.nav-map {
	margin-left: 64px;
}

.nav-hotels {
	margin-left: -12px;
}

.logo-welcome {
	height: 432px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 76px;

	text-align: center;

	background-color: #76a9cc;
	background-image: url("../img/background-logo.jpg");
	background-position: 0 -58px;
}

.logo-welcome img.3logo {
	width: 458px;
	height: 352px;
}

.logo-welcome img.white-pattern {
	width: 100%;
	height: 57px;

	margin-top: 19px;
}

.intro-represent {
	width: 440px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	line-height: 26px;
}

.intro {
	padding-top: 61px;
	padding-bottom: 36px;
}


.intro  h1{
	width: 440px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 27px;
	margin-left: auto;
}

.intro  p {
	width: 490px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	color: #333333;

	line-height: 26px;
}

.features-present b {
	font-size: 21px;
}

.features-photo {
	float: left;

	width: 66.66%;

	height: 256px;
}

.features-photo img {
	max-width: 100%;
	height: 256px;
}

.features-present {
	float: left;

	box-sizing: border-box;
	width: 33.33%;
	padding-top: 52px;

	text-align: center;

	outline: 0px solid green;
}

.features-name {
	display: inline-block;

	width: 170px;
	margin-bottom: 10px;

	line-height: 21px;
}

.canyon .features-name {
	margin: 0px;
}

.features-number {
	margin-bottom: 30px;

	color: #000;
}

.white-number {
	color: #fff;
}

.features-description {
	width: 65%;

	margin: -10px auto;

	color: #333333;
}

.tourist-description {
	width: 75%;

	margin: -8px auto;
}

.town, .canyon {
	height: 256px;
	padding-top: 57px;

	color: #ffffff;

	background-color: #81b3d2;
}


.town .features-description,
.canyon .features-description {
	width: 88%;

	color: #fff;
}

.town .features-number,
.canyon .features-number {
	margin-top: 15px;
}

.features-row {
	box-sizing: border-box;
	margin-bottom: 54px;

	vertical-align: middle;

	background-color: #eeeeee;
}

.features-row .features-present {
	height: 255px;
}

.features-item {
	height: 256px;
}

.explanation {
	position: relative;

	float: left;

	box-sizing: border-box;
	width: 33.33%;
	height: 330px;
	padding-top: 62px;
	padding-bottom: 88px;

	text-align: center;

	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.hous::before {
	content: "";

	background-image: url(spritesheet.png);
}

.burger::before {
	position: absolute;
	right: 5px;
	left: 5px;

	display: block;

	width: 74px;
    height: 70px;

	content: "";

    background-position: -5px -5px;
}

.gift::before {
	content: "";

	background-image: url(spritesheet.png);
}

.explanation b {
	display: block;

	margin-top: 30px;
	margin-bottom: 30px;

	font-size: 21px;
	line-height: 21px;
}

.explanation img {
	width: 75px;
	height: 72px;
}

.explanation p {
	width: 70%;
	margin: 0 auto;

	color: #333333;
}

.explanation .p-burger {
	width: 75%;
	margin: 0 auto;
}

.hotel {
	position: relative;

	height: 240px;
	padding-top: 0px;
}

.hotel  h2{
	width: 400px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;

	line-height: 30px;
}

.hotel-description {
	margin-top: 10px;

	color: #333333;

	line-height: 24px;

}

.hotel  p {
	width: 576px;
	margin-right: auto;
	margin-left: auto;

	text-align: center;
}

.hotel-search {
	position: absolute;
	top: 100%;
	left: 50%;

	display: block;

	box-sizing: border-box;
	width: 570px;
	min-height: 395px;
	margin-left: -285px;
	padding: 50px;
	padding-top: 55px;

	background-color: #ffffff;
}

.form-title {
	display: block;

	width: 568px;
	height: 84px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding-top: 10px;

	text-align: center;

	color: #fff;
	background-color: #766357;

	font-weight: bold;
	line-height: middle;
}

.form-title h3 {
	color: #ffffff;

	font-size: 21px;
	line-height: 26px;
}

.form-wrapper {
	position: relative;
}

form.hotel-search input {
	border: 0;
}

#check-in-date {
	margin-top: 0;
	margin-left: 15px;
}

#leaving-date {
	margin-top: 30px;
	margin-left: 10px;
}

input.date {
	position: relative;

	box-sizing: border-box;
	width: 340px;
	height: 38px;
	padding-top: 15p;
	padding-right: 15px;
	padding-left: 15px;

	text-transform: uppercase;

	color: #000000;
	background-color: #f2f2f2;

	font-family: "PT Sans", "Arial", sans-serif;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

form.hotel-search label {
	width: 100px;
	margin-right: 5px;
	margin-left: 5px;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}

.check-in::before {
	position: absolute;
	top: 10px;
	left: 50px;

	content: "\e800";
}

.leaving::before {
	position: absolute;
	top: 10px;
	left: 50px;

	width: 10px;
	height: 10px;

	content: "\e800";
}

.icon-calendar:hover {
	color: #000;
}

.icon-calendar:active {
	color: #81b3d2;
}

.hotel-search input:hover {
	background-color: #ebebeb;
}

.hotel-search input:active {
	background-color: #fff;
}

.people-input {
	margin-left: 15px;

	background-color: #f2f2f2;

	line-height: 26px;
}

.people {
	margin-top: 30px;
}

.people-input {
	width: 80px;
	margin-left: 22px;
	padding-top: 5px;
	padding-bottom: 5px;

	font-weight: bold;
}

.icon-mp {
	position: absolute;

	opacity: 0.3;

	color: #a9a9a9;
}

.icon-mp:hover {
	color: #000;
}

.icon-mp:active {
	color: #81b3d2;
}

.mp-adults-minus {
	top: 50%;
	left: 28%;
}

.mp-adults-plus {
	top: 50%;
	left: 42%;
}

.mp-children-minus {
	top: 51%;
	left: 77%;
}

.mp-children-plus {
	top: 51%;
	left: 91%;
}

#adults {
	width: 115px;
	margin-right: 50px;
	margin-left: 30px;

	text-align: center;
}

#children {
	width: 110px;
	margin-left: 15px;

	text-align: center;
}

.map {
	min-height: 470px;

	background-image: url("../img/map.jpg");
}

.map-search {
	font-size: 21px;
	line-height: 26px;
}

.map-search:hover {
	background-color: #669ec0;
}

.map-search:active {
	color: #88b6d1;

	background-color: #5496bd;
}

.hotel-search button {
	box-sizing: border-box;
	width: 458px;
	height: 58px;
	margin-top: 54px;
	margin-left: 5px;
	padding-top: 0px;

	text-transform: inherit;

	color: #ffffff;
	border: none;
	background-color: #81b3d2;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

footer {
	box-sizing: border-box;
	height: 50px;
	height: 123px;
	padding-top: 0px;

	text-align: center;

	background-color: rgba(255, 255, 255, 0.5);
}

.main-footer {
	padding-top: 10px;
}

.hash-tag, .social, .developer {
	display: inline-block;
}

.hash-tag {
	float: left;

	width: 23.33%;
	min-height: 60px;
	padding-top: 35px;
	padding-left: 6px;

	outline: 0px solid red;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.hash-tag span {
	display: inline-block;
}

.social {
	float: left;

	width: 33.33%;
	margin-top: 13px;
	margin-left: 82px;

	outline: 0px solid red;
}

.social li {
	display: inline-block;

	width: 46px;
	height: 35px;
	margin-right: 3px;
	padding-top: 12px;

	list-style: none;

	background-color: #81b3d2;
}

.social-btn {
	display: inline-block;

	width: 43px;
	height: 45px;
	margin: 0px 2px;

	text-decoration: none;

	color: #ffffff;

	font-size: 19px;
}

.social li {
	vertical-align: middle;
}

.li-youtube {
	margin-top: 1px;
}

.icon-youtube {
	font-size: 23px;
	line-height: 20px;
}

.social li:hover {
	background-color: #669ec0;
}

.social li:active{
	background-color: #5496bd;
}

.social-btn:active {
	color: #88b6d1;
}

.developer {
	float: right;

	box-sizing: border-box;
	max-width: 33.33%;
	height: 50px;
	margin-top: 20px;
	margin-right: 32px;
	padding-top: 8px;
	padding-left: 83px;

	outline: 0px solid red;
}

.developer span {
	display: inline-block;
	float: left;

	margin-top: 10px;
	margin-left: 38px;

	line-height: 26px;
}

.developer-logo {
	width: 113px;
	height: 40px;
}

.developer-logo img {
	margin-top: 5px;
	margin-left: 5px;
}

.developer .developer-logo:hover {
	background-image: url("../img/developer-logo-hvr.png");
}

.developer .developer-logo:active {
	background-image: url("../img/developer-logo-down.png");
}

.footer li {
	position: absolute;
}



/* inner.html */

.forms {
	height: 217px;
	padding-left: 61px;

	color: #fff;
	background-image: url("../img/hotels/filter-background.jpg");
	background-position: 0 -53px;
}

.forms fieldset {
	border: 0;
}

.forms label {
	line-height: 26px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	left: 10px;

	display: block;

	margin: 10px 0px;
	padding-left: 50px;

	cursor: pointer;

	line-height: 20px;
}

input[type="checkbox"]  label {
	margin-right: 30px;
}

input[type="checkbox"], input[type="checkbox"] + label {
	margin-bottom: 25px;
}

input[type="checkbox"] + label::before {
	position: absolute;
	top: 0;
	left: 11px;

	width: 15px;
	height: 15px;

	content: "\2610";

	color: #fff;

	font-family: "symbols-sedona";
	font-size: 24px;
}

input[type="checkbox"]:checked + label::before {
	content: "\2611";
}

.form-infr, .form-hous {
	position: relative;

	float: left;

	width: 20%;
	height: 200px;
	margin-right: -12px;
	margin-left: 0px;
	padding-left: 0;
}

.form-infr {
	margin-right: 30px;
}

.forms-title {
	display: block;

	margin-left: 12px;
	padding-top: 27px;
	padding-bottom: 15px;

	text-align: left;

	color: #fff;

	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}

.form-infr label,
.form-hous label {
	display: inline-block;

	line-height: 20px;
}

.forms-rate {
	width: 30%;

	margin-left: 70%;
}

.price-controls {
	position: relative;

	width: 318px;

	height: 25px;
	margin-top: -8px;
	margin-bottom: 20px;
	margin-left: -5px;
	padding-top: 7px;

	border: 2px solid #fff;
}

.price-controls ::after {
		position: absolute;
		top: 22%;
		left: 50%;

		width: 2px;
		height: 22px;

		content: "";

		background: #fff;
}

.price-controls label {
	display: inline-block;

	cursor: pointer;
	vertical-align: middle;

	font-size: 14px;
	line-height: 21px;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	height: 24px;
	margin: 0px;

	text-align: center;

	color: inherit;
	border: none;
	background-color: rgba(0,0,0,0);

	font: inherit;
}

.form-hous {
	float: left;
}

.range {
	position: relative;

	margin-bottom: 32px;

}

.range .range-line {
	height: 2px;
	padding-left: -23px;

	background: rgba(255, 255, 255, 0.3);
}

.range-line .range-line-active {
	width: 250px;
	height: 2px;

	background: #fff;
}

.toggle {
	position: absolute;

	width: 4px;
	height: 4px;

	cursor: pointer;

	border: 8px solid #fff;
	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.toggle:active {
	background-color: #1c4f80;
}

.toggle-left {
	top: -9px;

	left: 0px;
}

.toggle-right {
	top: -9px;

	left: 250px;
}

.btn-show {
	display: block;

	width: 41%;
	height: 35px;
	margin-left: 26%;

	text-transform: inherit;

	color: #fff;
	border: 2px solid #fff;
	border-radius: 2px;
	background: transparent;

	font-size: 14px;
	line-height: 21px;
}

.btn-show:hover {
color: #000;

background-color: #fff;
}

.sorting {
	height: 40px;
	padding-top: 35px;
	padding-bottom: 10px;

	font-size: 0;
}

.sorting-left {
	float: left;

	width: 90%;
}

.sorting-right {
	float: right;

	width: 10%;
}

.sorting-finder {
	float: left;

	width: 145px;
	margin-right: 14px;

	outline: 0px solid red;

	font-size: 21px;
	line-height: 26px;
}

.sorting-result, .sorting-finder, .type-title, .sorting-type, .sorting-type li, .arrows {
	display: inline-block;
}

.type-title {
	float: left;

	width: 80px;
	margin-top: 2px;
	margin-right: 40px;

	text-align: center;

	font-size: 12px;
	line-height: 18px;
}

.sorting-type {
	float: left;

    width: 40.66%;
	height: 20px;
	margin-top: 0px;
	padding: 0;

	list-style: none;

	outline: 0px solid green;

	font-size: 12px;
}

.sorting-type li {
	float: left;

	width: 27%;

	outline: 0px solid red;
}

.type-li, .rate-li {
	margin-top: -2px;
}

.arrows {
	float: right;

	width: 65px;
	min-height: 40px;
	margin-right: -15px;
}

.up {
	margin-right: -13px;

	font-size: 25px;
}

.down {
	font-size: 25px;
}

.catalog-item {
	box-sizing: border-box;
	min-height: 150px;
	padding-top: 33px;

	border-top: 1px solid #e5e5e5;
}

.item-photo {
	float: left;

	width: 135px;
	margin-right: 30px;
}

.hotel-photo {
	width: 135px;
	height: 90px;
}

.details {
	float: left;

	box-sizing: border-box;
	width: 40%;
	height: 87px;

	outline: 0px solid red;
}

.item-last {
	padding-bottom: 13px;

	border-bottom: 2px solid #e5e5e5;
}

.item-title {
	margin-top: -6px;
	margin-bottom: 0px;
	padding: 0;

	letter-spacing: 0px;

	font-size: 21px;
}

.item-title :hover {
	color: #81b3d2;
}

.item-title a {
	color: #000;

	line-height: 26px;
}

.item-type, .item-price {
	display: inline-block;

	margin-top: 7px;

	color: #333;
}

a {
	text-decoration: none;
}

.item-rate {
	float: right;

	width: 10.83%;

	text-align: right;
}

.rating {
	width: 109px;
	height: 27px;
	margin-top: 60px;
	padding-top: 5px;

	text-align: center;

	color: #666666;

	background-color: #f2f2f2;
}

.stars {
	position: relative;

	text-align: right;
}

.stars::before {
	position: absolute;
	top: -5px;
	left: -20px;

	content: "\2605";

	color: #81b3d2;

	font-family: "symbols-sedona";
	font-size: 22px;
}

h2>a:hover {
	color: #81b3d2;
}

h2>a:visited {
	color: #cacaca;
}

a.sort-active {
	color: #81b3d2;
}

.active-li {
	margin-right: -25px;
}

.type-li {
	margin-right: -21px;
}

a.sort-rate {
	color: #b2b2b2;
	border-bottom: 0.8px dotted #81b3d2;
}

a.sort-type {
	border-bottom: 0.5px dotted #81b3d2;
}



a.sort-type, a.sort-rate {
	color: rgba(0, 0, 0, 0.3);
}

a.sort-type, a.sort-rate, a.sort-active {
	line-height: 18px;
}

.sort-rate:hover {
	color: #9ac2db;
	border-bottom: 2px dotted #81b3d2;
}

.sort-rate:visited {
	color: #444444;
}

.sort-type:hover, .sort-rate:hover {
	color: #000000;
}

.item-buttons {
	margin-top: 20px;
}

.item-price {
	margin-left: 35px;
}

.desert-price {
	margin-left: 55px;
}

.villas-price {
	margin-left: 15px;
}

.item-buttons {
	display: block;

	height: 50px;
	margin-top: 15px;
}

.item-more {
	width: 43px;
	height: 34px;
	margin-top: -3px;
	margin-right: 2px;
	padding: 4px 17px;
	padding-bottom: 5px;

	text-align: center;

	color: #fff;
	background-color: #81b3d2;

	font-weight: bold;
}

.item-reserv {
	display: inline-block;

	width: 103px;
	height: 19px;
	padding: 4px 20px;
	padding-right: 22px;
	padding-bottom: 5px;
	padding-left: 17px;

	text-align: center;

	color: #fff;
	background-color: #766357;

	font-weight: bold;
}
