body {
	font-size: 14px;
	font-family: PT Sans, sans-serif; 
	color: #000000;
	line-height: 21px;
}

h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
}